.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000000;
}

.App-link {
  color: #61dafb;
}
.Dropdown-root{
  width: 20vw;
  max-width: 20%;
}
.control{
  padding: 8px !important;
}
.col-5{
  background-color: rgba(256,256,256,0.1);
}
